@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main_container{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 350px;
    height: 70vh;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 1.5em;
}
.img_container{
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: relative;
    z-index: 1;
    height: 52.5%;
    overflow: clip;
}
.img_container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    margin: auto;
}

.overlay_container{
    display: none;
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.502);
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}
.overlay_container img{
    width: 30%;
    height: auto;

}
.img_container:hover .overlay_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content_container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}
.eth_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.avatar strong{
    color: white;
    cursor: pointer;
}

.avatar strong:hover{
    color: hsl(178, 100%, 50%);
}

.avatar img{
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
h2{
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
h2:hover{
    color: hsl(178, 100%, 50%);
}
span{
    color: hsl(215, 51%, 70%);
}
p{
    color: hsl(215, 51%, 70%);
}
hr{
    border: none;
    outline: none;
    height: 1px;
    background-color:hsla(215, 52%, 70%, 0.61) ;
}
p.active{
    color: hsl(178, 100%, 50%);
}
@media screen and (max-width:450px){
    .main_container{
        background-color: hsl(216, 50%, 16%);
        border-radius: 15px;
        width: 90%;
        height: 85vh;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        padding: 1em;
    }
}